WebContent/wsdl/Model.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="exportProductServices">
    <complexType>
     <sequence>
      <element name="bid" type="xsd:int"/>
      <element name="filename" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="exportProductServicesResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="exportProductServicesRequest">

      <wsdl:part element="impl:exportProductServices" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="exportProductServicesResponse">

      <wsdl:part element="impl:exportProductServicesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Model">

      <wsdl:operation name="exportProductServices">

         <wsdl:input message="impl:exportProductServicesRequest" name="exportProductServicesRequest">

       </wsdl:input>

         <wsdl:output message="impl:exportProductServicesResponse" name="exportProductServicesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ModelSoapBinding" type="impl:Model">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="exportProductServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportProductServicesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportProductServicesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ModelService">

      <wsdl:port binding="impl:ModelSoapBinding" name="Model">

         <wsdlsoap:address location="http://localhost:8080/e-men/services/Model"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
